.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
}
.corner-name,
.corner-prediction {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #149df2;
  height: 5px;
  border-radius: 3px;
  padding: 5px;
}

.bounding-box:hover .corner-name {
  z-index: 1000;
  background-color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

.bounding-box:hover {
  box-shadow: 0 0 0 3px red inset;
  z-index: 1000;
}
* .bounding-box:not(:hover) {
  opacity: 0.9;
}
