.app-details {
  height: auto;
  width: 350px;
  z-index: 1000;
  border: 2px solid white;
  border-radius: 10px;

  color: white;
  margin-left: 10px;
}

.app-main-item {
  display: flex;
  justify-content: space-around;
}

.app-main-item:not(:last-child) {
  border-bottom: 2px solid white;
  border-radius: 4%;
}
