.footer {
  color: white;
  font-weight: 700;
  padding: 0rem 3rem;
  &__title {
    font-family: "Kaushan Script", cursive;
    font-size: 4rem;
    text-align: center;
  }

  &__developer {
    font-family: "Kaushan Script", cursive;
    font-size: 2rem;
    text-align: center;
  }

  &__info {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-family: "Josefin Sans", sans-serif;
  }

  &__infol {
    display: flex;
    list-style: none;
    justify-content: center;
    li {
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s;
    }
  }
}
