.particles {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  height: auto;
}

.App {
  text-align: center;

  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  padding-bottom: 10px;
  border: 15px solid white;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

.font {
  font-family: "SEGA LOGO FONT";
  color: #f6fffe;
  font-weight: 200;
}
